//- layout.jade
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Scanlines
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
    script(src='javascripts/jquery.stellar.js')
    script(src='javascripts/scrip.js')
    script(src='javascripts/jquery.nicescroll.js')
  body
    #nav
      ul
        li.NAVILIST
          a(href='/login')  |Login
        li.NAVILIST
          a(href='/signup') |Signup
        li.NAVILIST
          a(href='/reviews') |Reviews
        #scanlines
          li.NAVILIST
            a(href='/') ((logo))
    #wall_1.image(data-stellar-background-ratio='0.4')
        .box

