head
  body
    #nav
      nav
        ul
          li.NAVILIST
            a(href='/') Scanlines
          li.NAVILIST
            a(href='/reviews') Reviews
          li.NAVILIST
            a(href='/login') Login
    #wall_1.image(data-stellar-background-ratio='0.4')
    #content_1.content
      h1 Choose your destiny!! (Seriously sign up)
