<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Scanlines</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="javascripts/jquery.stellar.js"></script>
  <script src="javascripts/scrip.js"></script>
  <script src="javascripts/jquery.nicescroll.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.1.min.js"></script>
  <script type="text/javascript">
  function getYouTubeInfo() {
    $.ajax({
      url: "http://gdata.youtube.com/feeds/api/videos/https://youtu.be/IyDQsd3w0gM?list=RDYy72xp47mpQ?v=2&alt=json",
      dataType: "jsonp",
      success: function(data) {
        parseresults(data);
      }
    });
  }

  function parseresults(data) {
    var title = data.entry.title.$t;
    var description = data.entry.media$group.media$description.$t;
    var viewcount = data.entry.yt$statistics.viewCount;
    var author = data.entry.author[0].name.$t;
    $('#title').html(title);
    $('#description').html('<b>Description</b>: ' + description);
    $('#extrainfo').html('<b>Author</b>: ' + author + '<br/><b>Views</b>: ' + viewcount);
    getComments(data.entry.gd$comments.gd$feedLink.href + '&max-results=50&alt=json', 1);
  }

  function getComments(commentsURL, startIndex) {
    $.ajax({
      url: commentsURL + '&start-index=' + startIndex,
      dataType: "jsonp",
      success: function(data) {
        $.each(data.feed.entry, function(key, val) {
          $('#comments').append('<br/>Author: ' + val.author[0].name.$t + ', Comment: ' + val.content.$t);
        });
        if ($(data.feed.entry).size() == 50) {
          getComments(commentsURL, startIndex + 50);
        }
      }
    });
  }

  $(document).ready(function() {
    getYouTubeInfo();
  });
  </script>
  <title>YouTube</title>
</head>

<body>
  <div id="nav">
    <ul>
      <li class="NAVILIST animated fadeInDown"><a href="/">|Scanlines</a></li>
      <li class="NAVILIST animated fadeInDown"><a href="/reviews">|Reviews</a></li>
      <li class="NAVILIST animated fadeInDown"><a href="/lounge"> |Lounge</a></li>
      <li class="NAVILIST animated fadeInDown"><a href="/signup">|Signup</a></li>
    </ul>
    </ul>
  </div>
  <div class="trythis">
    <div id="wall_1" data-stellar-background-ratio="0.4" class="image">
    </div>
    <div id="content_1" class="content2">
      <div align="center">
        <br/>
        <br/>
        <div id="title" style="color: #dddddd">Could not find a title</div>
        <br/>
        <iframe title="Youtube Video Player" width="640" height="390" src="http://www.youtube.com/embed/https://youtu.be/IyDQsd3w0gM?list=RDYy72xp47mpQ?fs=1&autoplay=1&loop=0" frameborder="0" allowfullscreen style="border: 1px solid black"></iframe>
        <br/>
        <br/>
        <div id="description" style="width:400px; background-color: #dddddd; font-size:10px; text-align:left;">Could not find a description</div>
        <div id="extrainfo" style="width:400px; background-color: #dddddd; font-size:10px; text-align:left;">Could not find extra information</div>
        <div id="comments" style="width:400px; background-color: #dddddd; font-size:10px; text-align:left;">Could not find comments</div>
      </div>
    </div>
    <div id="wall_2" data-stellar-background-ratio="0.4" class="image"></div>
  </div>
</body>

</html>
