@charset "utf-8";
	.st0
{
	background : #127260;
	background : rgba(18, 114, 96, 1);
}
.st1
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
}
.st2
{
	background : #191718;
	background : rgba(25, 23, 24, 1);
}
.st3
{
	background : #1ABC9C;
	background : rgba(26, 188, 156, 1);
}
